:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
  font-family: Roboto;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
}


/* site header */

.header-nav {
  
  display: flex;
  justify-self: start;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-align: center;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.accent-logo {
  color: #2196f3;
}
.second-accent-logo {
  color: #000000;
}
.menu-nav {
  display: flex;
  
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
.menu-nav .link :last-child {
  margin: 0px;
}

.link {
  margin-right: 50px;
  color: var(--title-text-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-nav .link:active {
  color: var(--accent-color);
}
.menu-nav .link:focus {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.contacts {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-text-color);
}
.contacts:hover {
  color: var(--accent-color);
}
.contacts-list

/* hero */

.service {
  text-align: center;
}
.hero {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* когда будет задний фон изменю на белый */
  color: royalblue;

  
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.btn {
  border: 0px;
  border-radius: 4px;
  position: relative;
  padding: 10px 32px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
}

.btn:hover {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* top section */
.list-features {
  display: flex;
  list-style-type: none;
  margin: 0px 0px 94px;
  padding: 0px;
  
}

.list-features-item {
  margin-left: 30px;
}

.list-features-item:first-child {
   margin-left: 0px;
}

.features {
  
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

/* features */
.section-features-title {
  color: #fff;
}

.features-title {
  
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* occupation */

.list-occupation {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 94px 0px;
}

.occupation-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-occupation-item {
  margin-left: 30px;
  
  
}
.list-occupation-item:first-child {
  margin-left: 0px;
}
.occupation {
  margin: 0px 0px 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* our-team */

.our-team-section {
  padding: 94px 0px;
  background: #F5F4FA;
}

.list-our-team {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.our-team-item {
  margin-left: 30px;
}

.our-team-item:first-child {
  margin-left: 0px;
}

.our-team {
  margin: 0px 0px 50px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.our-team-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* footer */

.bottom-part {
  height: 252px;
  background: #2f303a;
}

.bottom-section {
  display: flex;
  flex-direction: column;
}

.logo-bottom {
  text-align: start;
  margin-top: 60px;
  margin-bottom: 20px;
}

.second-accent-logofooter {
  color: #ffffff;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.list-tooter {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none;
}

.list-tooter-item {
  margin-bottom: 9px;
}

.link-footer {
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.list-tooter:first-child {
  margin-bottom: 9px;
}

/*=========== portfolio ==============*/

.portfolio-title {
  color: #ffffff;
}

.list-portfolio {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.list-portfolio-bottom {
  margin-left: 9px;
  
}

.list-portfolio-bottom:first-child {
  margin-left: 0px;
}

.button-portfolio {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  cursor: pointer;
  box-shadow: 0px 3px 1px   rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio:active,
.button-portfolio:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.list-portfolio-img {
  display: flex;
  flex-wrap: wrap;
  margin: 34px 0px 94px 0px;
  padding: 0px;
  list-style-type: none;
}

.list-portfolio-img-item {
  margin-right: 30px;
}
.list-portfolio-img-item:nth-child(3n) {
  margin-right: -30px;
}

.portfolio-subtitle {
  margin: 20px 24px 4px 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {

  margin: 0px 24px 20px 24px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
